* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
	display: grid;
	justify-content: center;
	width: 100vw;
}

.card {
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 30px;
}

.card--inferno {
    height: 400px;
    width: 300px;
    border: 1px solid green;
}

.card--seaside {
    height: 400px;
    width: 300px;
    border: 1px solid green;
}

.card--twinpin {
    height: 400px;
    width: 300px;
    border: 1px solid green;
}